@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    border: 1px solid #FFFFFF;
    width: 1158px;
    height: 3300px;
    justify-content: center;
    align-items: center;
    max-width: 1158px;
    padding-left: 15px;
        padding-right: 15px;
}

.containerx{
    display: flex;
    border: 1px solid #e7e9fc;
    background-color: #FFFFFF;
    width: 1440px;
    height: 72px;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    max-width: 1158px;
    padding-left: 15px;
        padding-right: 15px;
}
.logo {
    font-family: "raleway" sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.web {
    color: #4D5AE5;
}
.studio {
    color: #2E2F42;
}

body {
    font-family: "roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    background-color: #FFFFFF;
}

.menu {
    font-family: "roboto" ;
    font-weight: "medium";
    font-size: 16px;
    color: #2E2F42;
    display: flex;
    text-decoration: none;
} 
ul {
    display: inline;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
}

.adres {
    gap: 20px;
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;
}


.baslik {
    border: 1px solid #2E2F42;
    width: 1440px;
    height: 600px;
    background-color: #2E2F42;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 150px;
    max-width: 1158px;

}
.baslik h1{
    color: #FFFFFF;
    font-family: "roboto";
    font-weight: "700";
    font-size: 56px;
    text-align: center;
    line-height: 107%;
    margin: 0 auto;
    padding: 150;
}

button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "roboto";
    font-weight: "medium";
    font-size: 12px;
    cursor: pointer;
    border: 10px;
    width: 169;
    height: 56;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
}
button:hover {
    background-color: #404BBF;
    color: #FFFFFF;
    font-family: "roboto";
    font-weight: "medium";
    font-size: 12px;
     width: 169;
    height: 56;
}

section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.container1 {
    display: flex;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    width: 1128px;
    height: 104px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 120px;  
    gap: 24px;
    margin: 0 auto;
    max-width: 1158px;
    padding-left: 15px;
        padding-right: 15px;
}

.ozet {
    display: flex;
    color: #2E2F42;
    font-family: "roboto";
    font-weight: "medium";
    font-size: 20px;
    line-height: 1,2;
    margin-bottom: 8px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.ozet p {
    color: #2E2F42;
    font-family: "roboto";
    font-weight: "medium";
    font-size: 16px;
    text-align: center;
    padding: 120;
}

.ozellik {
    display: block;
    color: #2E2F42;
    font-family: "roboto";
    font-weight: "medium";
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;  
}

.containerot {
    background-color: #D9D9D9;
    border: 1px solid #FFFFFF;
    width: 1440px;
    height: 732px;
    justify-content: space-around;
    align-items: center;
    padding: 120px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    max-width: 1158px;
    padding-left: 15px;
        padding-right: 15px;
}

.ourteam{
    display: flex;
    padding-left: 156px;
    padding-right: 156px;
}
.ot {
    border: 1px solid #F4F4FD;
    background-color: #FFFFFF;   
}

.containerop{
    border: 1px solid #FFFFFF ;
    width: 1128px;
    height: 1000px;
    justify-content: space-around;
    align-items: center;
    padding: 120px;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}
.ourport {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
    border: 1px solid #FFFFFF;  
}   

.border{
    border: 1px solid #e7e9fc;
    padding: 10px;
    text-align: center;
}

h2 {
    color: #2E2F42;
    font-family: "roboto";
    font-weight: "bold";
    font-size: 36px;
    text-align: center;
    padding-bottom: 72px;
}

.ft {
    background-color: #2E2F42;
    border: 1px solid;
    width: 1440px;
    height: 312px;
    padding: 120px;
    max-width: 1158px;
    padding-left: 156;
    padding-right: 156;
    margin: 0 auto;
}

.foot {
    color: #FFFFFF;
    font-family: "roboto";
    font-weight: "regular";
    font-size: 16px;
    padding: 120px;
}

.logo1 {
    font-family: "raleway" sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.web {
    color: #4D5AE5;
}

.studio1 {
    color: #F4F4FD;
}
